*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: black;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: 300px auto;
    
}

nav{
    position: sticky;
    top: 0;
    /* align-self: start; */
    height: 100vh;
    padding: 50px;
    box-shadow: 0 0 20px rgba(229, 255, 0, 0.438);
}

.avatarPerfil img{
    border-radius: 50%;
}

ul#navPrincipal{
    margin-top: 50px;
}

ul#navPrincipal li{
    list-style-type: none;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;

    border-radius: 7PX;
}

ul#navPrincipal li i{
    color: rgba(255, 255, 0, 0.473);
    margin-right: 10px;
}

main{
    padding: 50px;
}

main section{
    display: none;
}

#telaHome{
    display: block;
}

.menuSelecionado {
    color: gold;
}